<app-title title="{{user}}'s orders:"></app-title>
<div class="container">
    <table>
        <thead>
            <th>Order No.</th>
            <th>Food</th>
            <th>Order Made</th>
            <th>Price</th>
        </thead>
        <tbody *ngFor="let order of orders; let i = index">
            <td>{{i+1}}.</td>
            <td >
                <div *ngFor="let food of order.items" class="food">
                    <img [src]="food.food.imageUrl"><span class="quantity">{{food.quantity}}</span>
                </div>
            </td>
            <td>{{order.createdAt | date: 'medium'}}</td>
            <td>{{order.totalPrice | currency}}</td>
        </tbody>
    </table>
</div>
